.hero {
  background-image: url(/assets/image/hero-bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero-section {
  width: 100%!important;
}
.hero-content-box{
  display: flex;
  justify-content: space-between;
}
.real-estate-text p {
  font-weight: medium;
  font-size: 18px;
  color: var(--primary-color);
}
.Find-a-perfect h1 {
  font-size: var(--font-h1);
  font-weight: 600;
  color: var(--text-color-1);
}
.hero-content-box {
  margin-top: 28px;
}
.card-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 540px;
  height: 200px;
  overflow: hidden;
}

.autoplay .element img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}