<section class="hero">
    <div class="container hero-section">
        <div class="col-6">
            <div class="real-estate-text">
                <p>REAL ESTATE</p>
            </div>
            <div class="Find-a-perfect">
                <h1>
                    Find a perfect home you love..!
                </h1>
            </div>
            <div class="subtitle">
                <p>
                    Etiam eget elementum elit. Aenean dignissim dapibus vestibulum. Integer a dolor eu sapien sodales vulputate ac in purus.
                </p>
            </div>
        </div>
        <!-- <div class="col-6">
            <div class="real-estate-text">
                <p>REAL ESTATE</p>
            </div>
            <div class="Find-a-perfect">
                <h1>
                    Find a perfect home you love..!
                </h1>
            </div>
            <div class="subtitle">
                <p>
                    Etiam eget elementum elit. Aenean dignissim dapibus vestibulum. Integer a dolor eu sapien sodales vulputate ac in purus.
                </p>
            </div>
        </div> -->
    </div>
</section>
