<div class="container-fluid header-top">
  <div class="container header-text">
    <div class="row left-side-icon-text">
      <div class="icon-text">
        <div class="location-icon">
          <img src="/assets/location.svg" alt="" />
        </div>
        <p class="header-top-left-fist-text">
          Rezilla, 18 Grattan St, Brooklyn
        </p>
      </div>
    </div>
    <div class="row right-side-icon-text">
      <div class="double-text-right-side">
        <div class="header-top-right-side-mail-icon-text2">
          <div class="location-icon">
            <img src="/assets/phone.svg" alt="" />
          </div>
          <p class="header-top-right-side-text2">
            <a href="tel:+91-8072532251">+1 206-214-2298</a>
          </p>
        </div>

        <div class="header-top-right-side-call-icon-text1">
          <div class="location-icon">
            <img src="/assets/mail.svg" alt="" />
          </div>
          <p class="header-top-right-side-text1">
            <a href="mailto:support@rezilla.com">support&#64;rezilla.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<header class="container-fluid nav-header">
  <div class="container header-content">
    <div class="logo-text">
      <div class="home-logo">
        <img src="/assets/logo-home-icon.svg" alt="" />
      </div>
      <p class="logo-text">
        <a href="#">Rezilla</a>
      </p>
    </div>
    <div class="logo-text2">
      <nav class="navbar">
            <ul class="menu-items">
                <li><a class="menu-items-li active" href="#">Home</a></li>
                <li><a class="menu-items-li" href="#">About</a></li>
                <li><a class="menu-items-li" href="#">Listings</a></li>
                <li><a class="menu-items-li" href="#">Services</a></li>
                <li><a class="menu-items-li" href="#">Blog</a></li>
            </ul>
    </nav>
    </div>
    <div class="logo-text3">
      <div class="icon-Login-Register">
        <div class="lo-re-icon">
          <img src="/assets/user-circle-alt.svg" alt="" />
        </div>
        <p class="Login-Register-text">
          <a href="#">Login&Register</a>
        </p>
      </div>
      <div class="Add-Listing-Button">
        <div class="Add-Listing-Button-icon">
          <img src="/assets/add-home-icon-button.svg" alt="" />
        </div>
        <p class="Add-Listing-Button-text">
          <a href="#">Add Listing</a>
        </p>
      </div>
    </div>
  </div>
</header>
