<div class="container-fluid header-top">
  <div class="container header-text">
    <div class="row left-side-icon-text">
      <div class="icon-text">
        <div class="location-icon">
          <img src="/assets/location.svg" alt="" />
        </div>
        <p class="header-top-left-fist-text">
          Rezilla, 18 Grattan St, Brooklyn
        </p>
      </div>
    </div>
    <div class="row right-side-icon-text">
      <div class="double-text-right-side">
        <div class="header-top-right-side-mail-icon-text2">
          <div class="location-icon">
            <img src="/assets/phone.svg" alt="" />
          </div>
          <p class="header-top-right-side-text2">
            <a href="tel:+91-8072532251">+1 206-214-2298</a>
          </p>
        </div>

        <div class="header-top-right-side-call-icon-text1">
          <div class="location-icon">
            <img src="/assets/mail.svg" alt="" />
          </div>
          <p class="header-top-right-side-text1">
            <a href="mailto:support@rezilla.com">support&#64;rezilla.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
