* {
  box-sizing: border-box;
  padding: 0px !important;
  margin: 0px !important;
}
.header-top {
  background-color: var(--primary-color);
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.double-text-right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-large);
}
.location-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
}
.icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
}
.header-top-left-fist-text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--white);
}

.header-top-right-side-call-icon-text1,
.header-top-right-side-mail-icon-text2 {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}
.header-top-right-side-text1 a,
.header-top-right-side-text2 a {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-small);
  color: var(--white);
  text-decoration: none;
  justify-content: center;
  display: flex;
  align-items: center;
}

.nav-header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--white);
}

.header-content {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0px 12px !important;
}

.logo-text,
.icon-Login-Register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-small);
}

.logo-text3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-medium);
}
.home-logo {
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-logo img {
  width: 24px;
  height: 24px;
}
.logo-text a {
  color: #1e1e1e;
  text-decoration: none;
  font-size: 20px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.Login-Register-text a {
  color: #1e1e1e;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: flex;
}
.mobile-view-Add-Listing-Button {
  padding: 16px 26px !important;
  background-color: var(--primary-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
  margin: 12px !important;
}
.Add-Listing-Button {
  padding: 16px 26px !important;
  background-color: var(--primary-color);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-small);
}

.Add-Listing-Button-icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lo-re-icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Add-Listing-Button-text a {
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.Login-Register-text a {
  color: var(--text-color-2);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
.navbar {
  position: relative;
}

.menu-items {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-items li {
  position: relative;
}

.menu-items-li {
  text-decoration: none;
  color: var(--text-color-2);
  font-size: 16px;
  font-weight: 600;
  padding: 0.5rem 0;
  display: inline-block;
}

.menu-items-li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: width 0.5s ease, transform 0.5s ease;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(1);
  transform-origin: center;
}

.menu-items-li.active {
  color: var(--primary-color);
}
.menu-items-li.active::before {
  width: 100%;
  transform: translateX(-50%) scaleX(1);
}

.menu-items-li:hover::before {
  width: 100%;
  transform: translateX(-50%) scaleX(1);
}
@media screen and (max-width: 780px) {
  .header-top {
    display: none;
  }
}

.mobile-inner {
  position: fixed;
  width: 70%;
  background-color: rgb(244, 250, 255);
  left: 0px;
  z-index: 9999;
  top: 0px;
  height: 100vh;
}
.mobile-view {
  visibility: hidden;
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.mobile-view-logo-text-header{
  
  padding: 10px !important;

}
.mobile-view-logo-text {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--spacing-small);
}
.mobile-view-home-logo {
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-view-text a {
  color: #1e1e1e;
  text-decoration: none;
  font-size: 14px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
hr {
  background-color: #606060;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.mobile-view-menu-items li {
  width: 100%;
  height: auto;
  padding: 12px 12px !important;
}
.mobile-view-menu-items {
  width: 100%;
  height: auto;
}
.mobile-view-menu-items-li {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-view-menu-items-li i {
  font-size: 18px;
}
.mobile-logo-menu {
  display: flex;
  justify-content: space-between;
}

.menu i {
  font-size: 30px;
  color: var(--primary-color);
}

.close i {
  font-size: 24px;
  color: var(--white);
  background-color: var(--primary-color);
  padding: 8px !important;
  border-radius: 8px;
}
header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
